<mat-card>
  <mat-card-header>
    <mat-card-title style="font-size:1.5em;">
      <span *ngIf="!editMode">Create project</span>
      <span *ngIf="editMode">Project configuration</span>
    </mat-card-title>
  </mat-card-header>

  <form #projectForm="ngForm">
    <mat-card-content>
        <mat-form-field class=" example-full-width ">
            <input matInput placeholder="Project title" required [(ngModel)]="project.projectTitle" name="projectTitle">
          </mat-form-field>
      <mat-form-field class=" example-full-width ">
        <input type="text" matInput placeholder="Api host url " required [(ngModel)]="project.apiHostUrl" name="apiHostUrl">
      </mat-form-field>
      <mat-form-field class=" example-full-width ">
        <input type="text" matInput placeholder="Api project id " required [(ngModel)]="project.apiProjectId" name="apiProjectId">
      </mat-form-field>
      <mat-form-field class=" example-full-width ">
        <input type="text" matInput placeholder="Api authentication token " required [(ngModel)]="project.apiAuthenticationToken" name="apiAuthenticationToken">
      </mat-form-field>
      <mat-form-field class=" example-full-width ">
        <mat-select  placeholder="Data provider name " required [(ngModel)]="project.dataProviderName" name="dataProviderName">
          <mat-option *ngFor="let provider of dataProviderNames.data" [value]="provider">
            {{provider}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox (change)="CiDataUpdateCronExpression = !CiDataUpdateCronExpression" [checked]="CiDataUpdateCronExpression" #abcde>Enable interval pooling</mat-checkbox>
      <div *ngIf='abcde.checked'>
        <h2 class="mat-h2">Data fetch period (in minutes)</h2>  
        <div class="dataFetchPeriod">                
          <mat-slider min="1.0" max="59" step="1.0" value="1.0" thumbLabel required [(ngModel)]="projectCiDataUpdateIntervalMinutes" name="dataFetchPeriod" ></mat-slider>
        </div>
      </div>
        
     
    </mat-card-content>

    <mat-card-actions>
      <button type="submit" (click)="addProject()" [disabled]="!projectForm.form.valid" mat-button class="pull-right " style=" font-size: 1em; ">SAVE</button>
      <button type="button" [routerLink]=" [ '/admin/listOfProjects'] " mat-button class="pull-right " style=" font-size: 1em; ">CANCEL</button>
      <button  *ngIf="editMode" (click)="onDelete()" mat-button class="pull-right " style=" font-size: 1em; color: #d22e2b;">DELETE</button>
    </mat-card-actions>
    
  </form>








</mat-card>
