mat-card {
    width: auto;
    height: 300px;
    max-width: 100%;
    margin-top: 20px;  
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block; 
}
#toc {
    color: black;
    margin-bottom: 20px;
    display: block; 
    font-size: 32px;
    position: absolute;
    right: 5%;
}
#settings {
    color: black !important;
    margin-bottom: 20px;
    display: block; 
    font-size: 28px;
    position: absolute;
    right: 15%;
}
.thumbnail {
    margin: 0;
    height: 100%;
}
mat-card-content {
    margin: 15%;
}
mat-card-actions {
    position: absolute;
    left: 40%;
    margin-right: -50%;
    bottom: 30px;
}
mat-card-footer {
    position: absolute;
    left: 40px;
    bottom: 15px;
}
span {
    display: inline-block;
    width:auto;    
    border-radius: 15px;
}
