<gridster [options]="gridsterOptions" [draggableOptions]="{ handlerClass: 'dnd-handle', scroll:false }">
  <gridster-item *ngFor="let project of projects" [resizable]="true">
    <mat-card>
      <mat-card-title>
        <h4 style="font-size:1.6rem;">{{project.projectTitle}}</h4>
        <h4 style="font-size:1.6rem;" *ngIf="!project.projectTitle">Default title</h4>
        <a [routerLink]=" [ '/admin/project', project.id] " class="pull-right">
          <i  class="material-icons panel-icon">settings</i>
      </a>
      </mat-card-title>
      <mat-card-content style="font-size:1.2rem;">

       
          <b>apiHostUrl:</b> <span>{{project.apiHostUrl}}</span>
          <br> <br>

     
          <b>apiProjectId:</b> <span>{{project.apiProjectId}}</span> 
          <br> <br>

       
          <b>apiAuthenticationToken:</b> <span>{{project.apiAuthenticationToken}}</span>
          <br> <br>

        
          <b>dataProviderName:</b> <span>{{project.dataProviderName}}</span>
          <br> <br>

       
          <b>ciDataUpdateCronExpression:</b> <span>{{project.ciDataUpdateCronExpression}}</span>
        

      </mat-card-content>
    </mat-card>
  </gridster-item>
</gridster>
