mat-card {
    margin: 5px;
    padding: 5px;

    padding: 0 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    
}

gridster-item {
    padding-top: 5px;
}

.panel-icon {
    color: #585858;
    font-size: 1.1em;
    position: absolute;
    top: 2%;
    right: 5%;
}



