
<div *ngIf="pipeline">
    <p style="margin-top: 5px;">Pipeline of
            <strong>{{panel.staticBranchName}}</strong> for commit
            <strong>"{{pipeline.commitTitle}}"</strong> by <strong>{{pipeline.commiterName}}</strong></p>
            
    <svg *ngFor="let stage of pipeline.stages; let i = index" height="75" width="80">
        <text text-anchor="middle" x="40" y="15" font-family="Verdana" font-size="10">
            {{stage.stageName}}
        </text>
        <circle cx="40" cy="40" r="20" stroke="black" stroke-width="1" [attr.fill]="getColorOfStage(stage)" />
        <line *ngIf="i != 0" x1="0" y1="40" x2="20" y2="40" style="stroke:black;stroke-width:1" />
        <line *ngIf="i != pipeline.stages.length - 1" x1="60" y1="40" x2="80" y2="40" style="stroke:black;stroke-width:1" />
    </svg>
</div>
<div *ngIf="!pipeline">
    <p style="margin-top: 5px;">Loading..</p>
</div>