<div #pipelineContainer class="pipeline-cointainer">
  <div *ngIf="pipeline">
 
    <div class="pipeline-metadata">
      <div class="pipeline-metadata-item no-shrink">
        <i class="material-icons">device_hub</i>
        <span>{{pipeline.ref}}</span>
      </div>
      <div class="pipeline-metadata-item shrink">
        <i class="material-icons">create</i>
        <span>{{pipeline.commitTitle}}</span>
      </div>
      <div class="pipeline-metadata-item no-shrink">
        <i class="material-icons">person</i>
        <span>{{pipeline.commiterName}}</span>
      </div>
    </div>

    


        <div class="fleksik"  [style.width]="getFullWidth()" >
          <div class="container"   *ngFor="let stage of pipeline.stages" >
          <div class="chevron"  [style.background-color]="getColorOfStage(stage)" >
              <div class="content"  >
               <p>
                {{stage.stageName}}
              </p>            
                </div>            
          </div>
          </div>
        </div>
  </div>
  <div *ngIf="!pipeline">
      <mat-spinner [diameter]="55"  strokeWidth="7"></mat-spinner>
  </div>
</div>