<div #pipelineContainer class="pipeline-cointainer">
  <div *ngIf="pipeline">

    <div class="pipeline-metadata">
      <div class="pipeline-metadata-item no-shrink">
        <i class="material-icons">device_hub</i>
        <span>{{pipeline.ref}}</span>
      </div>
      <div class="pipeline-metadata-item shrink">
        <i class="material-icons">create</i>
        <span>{{pipeline.commitTitle}}</span>
      </div>
      <div class="pipeline-metadata-item no-shrink">
        <i class="material-icons">person</i>
        <span>{{pipeline.commiterName}}</span>
      </div>
    </div>

    <svg *ngFor="let stage of pipeline.stages; let i = index" height="75" [attr.width]="getOneStageWidth()">

      <rect [attr.width]="getOneStageWidth()" height="100" [attr.fill]="getColorOfStage(stage)" />

      <text text-anchor="middle" [attr.x]="getOneStageWidth()/2" y="45" font-family="Verdana" font-size="10">
        {{stage.stageName}}
      </text>

    </svg>
  </div>
  <div *ngIf="!pipeline">
    <p style="margin-top: 5px;">Loading..</p>
  </div>
</div>