
.pipeline-metadata {
    display: flex;
    justify-content: space-between;
}

.pipeline-metadata-item {
    margin-left: 5px;
    margin-right: 5px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.pipeline-metadata-item .material-icons {
    font-size: 20px;
    margin-right: 2px;
}

.pipeline-metadata-item.no-shrink {
    flex-shrink: 0;
    max-width: 50%;
}

.pipeline-metadata-item.shrink {
    flex-shrink: 1;
}

.shadow {
    -webkit-filter: drop-shadow( 0 3px 1px rgba(0,0,0,.2) ); 
            filter: drop-shadow( 0 3px 1px rgba(0,0,0,.2) );
}

.pipeline-building-block {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}



.fleksik{
   
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
    height: 70px;
    -webkit-filter: drop-shadow( 0 3px 1px rgba(0,0,0,.2) ); 
    filter: drop-shadow( 0 3px 1px rgba(0,0,0,.2) );
      
    }
.container{
      flex: 2 1 100px;
    display: flex;   
    padding: 0;
    }
   
.chevron {
    width: 100%;
    float: left;
    flex: 2 1 100px;
    background-size: cover;
    clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 15% 50%, 0% 0%);  
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);   
    }

    .content{
          font-size: 16px;
          position: relative;
          float: left;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
