<div #pipelineContainer class="pipeline-cointainer">
  <div *ngIf="pipeline">

    <div class="pipeline-metadata">
      <div class="pipeline-metadata-item no-shrink">
        <i class="material-icons">device_hub</i>
        <span>{{pipeline.ref}}</span>
      </div>
      <div class="pipeline-metadata-item shrink">
        <i class="material-icons">create</i>
        <span>{{pipeline.commitTitle}}</span>
      </div>
      <div class="pipeline-metadata-item no-shrink">
        <i class="material-icons">person</i>
        <span>{{pipeline.commiterName}}</span>
      </div>
    </div>

    <ng-container *ngIf="style == 1">
      <svg [attr.height]="pipelineContainerHeight" [attr.width]="getFullWidth()" class="shadow">


        <polygon *ngFor="let stage of pipeline.stages; let i = index" [attr.points]="getPolygonBoundaries(i)" [attr.fill]="getColorOfStage(stage)">

        </polygon>

        <text *ngFor="let stage of pipeline.stages; let i = index" text-anchor="middle" [attr.x]="getXPositionForLabel(i)" [attr.y]="pipelineContainerHeight/2 + 5"
          font-family="Verdana" font-size="10">
          {{stage.stageName}}
        </text>

      </svg>
    </ng-container>

    <ng-container *ngIf="style == 2">
      <svg *ngFor="let stage of pipeline.stages; let i = index" [attr.height]="pipelineContainerHeight" [attr.width]="getOneStageWidth() - 2*pipelineBlockPadding"
        class="pipeline-building-block" [style.margin]="pipelineBlockPadding">

        <rect [attr.width]="getOneStageWidth() - 2*pipelineBlockPadding" [attr.height]="pipelineContainerHeight" [attr.fill]="getColorOfStage(stage)" />

        <text text-anchor="middle" [attr.x]="(getOneStageWidth() - 2*pipelineBlockPadding)/2" [attr.y]="pipelineContainerHeight/2 + 5" font-family="Verdana" font-size="10">
          {{stage.stageName}}
        </text>

      </svg>
    </ng-container>




  </div>
  <div *ngIf="!pipeline">
    <p style="margin-top: 5px;">Loading..</p>
  </div>
</div>