.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar {
    height: 40px;
}

h1.app-name {
    margin-left: 8px;
}

.sidenav-container {
    flex: 1;
}

#sidenavContent {
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.25,.8,.25,1);
    transition-property: transform,margin-left,margin-right, padding-left;
}

.menu-icon {
    font-size: 2em;
}

.menu-icon-small {
    font-size: 1.5em;
}

.active-link {
    background: rgba(0,0,0,.04);
}

.no-overflows {
    overflow-y: hidden; 
    overflow-x: hidden; 
}


mat-list-item.gap-above {
    margin-top: 20px;
}