<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail">
      <div *ngFor="let panel of getPanelsForColumn(0)">
        <app-static-host-panel *ngIf="!panel.dynamic" [panelId]="panel.id" [tileTitle]="panel.title" [adminMode]="adminMode"></app-static-host-panel>
        <app-dynamic-host-panel *ngIf="panel.dynamic" [panelId]="panel.id" [tileTitle]="panel.title" [adminMode]="adminMode"></app-dynamic-host-panel>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <div *ngFor="let panel of getPanelsForColumn(1)">
        <app-static-host-panel *ngIf="!panel.dynamic" [panelId]="panel.id" [tileTitle]="panel.title" [adminMode]="adminMode"></app-static-host-panel>
        <app-dynamic-host-panel *ngIf="panel.dynamic" [panelId]="panel.id" [tileTitle]="panel.title" [adminMode]="adminMode"></app-dynamic-host-panel>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="thumbnail">
      <div *ngFor="let panel of getPanelsForColumn(2)">
        <app-static-host-panel *ngIf="!panel.dynamic" [panelId]="panel.id" [tileTitle]="panel.title" [adminMode]="adminMode"></app-static-host-panel>
        <app-dynamic-host-panel *ngIf="panel.dynamic" [panelId]="panel.id" [tileTitle]="panel.title" [adminMode]="adminMode"></app-dynamic-host-panel>
      </div>
    </div>
  </div>
</div>