#createButton {
    background-color: rgb(245, 244, 244);
    height: 70px;
    width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    bottom: 0;
}
#create {
    color: rgb(170, 170, 170) !important;
    font-size: 38px;
    display: block;
    position: absolute;
    right: 45%;
   
}