<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
<mat-card>
  <mat-card-header>
    <mat-card-title style="font-size:1.4vw;">
      Creating panel
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class=" example-full-width ">
      <input matInput placeholder="Panel title " required>
    </mat-form-field>


    <mat-form-field>
      <mat-select placeholder="Projects " required [(ngModel)]="selectedProjects ">
        <mat-option *ngFor="let project of projects " [value]="project.id ">
          {{ project.apiProjectId }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select [(ngModel)]="selectedColumns " placeholder="Column choice " required>
        <mat-option *ngFor="let column of columns " [value]="column ">
          {{ column }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Panel type " required [(ngModel)]="selectedPanels ">
        <mat-option *ngFor="let type of types " [value]="type.value ">
          {{ type.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-card-content>

  <mat-card-actions>
    <button [routerLink]=" [ '/admin'] " mat-button class="pull-right " style=" font-size: 1vw; ">SAVE</button>
    <button [routerLink]=" [ '/admin'] " mat-button class="pull-right " style=" font-size: 1vw; ">CANCEL</button>
  </mat-card-actions>

</mat-card>