mat-card {
    width: 600px;
    height: 640px;
    max-width: 100%;
    max-height: 100%;
    margin-top: 25px;
    bottom: 20%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
mat-card-header {
    height: 50px;
    background-color: #3f51b5;
    color: white;
  }
  mat-card-title {
     margin-top: 7px;
    
  }
  mat-card-content {
      font-size:1em;
      margin-top: 20px;
      margin-right: 5%;
      margin-left: 5%;
      display: block;
  }
 
  mat-form-field {
      margin-top: 12px;    
      font-size: 1.3em;
      width:100%;
  }
  mat-card-actions {
      position:absolute;     
      bottom:-2%;
      width:100%;    
  }

  .example-full-width{
      margin-top: 3px;
      margin-bottom: 3px;
  }
  mat-slider {
    width: 100%;
  }
  
  