mat-card {
    width: 100%;
    max-width: 100%;
    margin-top: 2.1vw;  
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    
    display: block; 
}

.thumbnail {
    border: 0;
    height: 100%;
    margin-top: 40px;
}
mat-card-content {
    margin: 15%;
}
mat-card-footer {
    position: absolute;
    left: 40px;
    bottom: 15px;
}
.label-success {   
    border-radius: 1vw;
}