mat-card {
    width: 400px;
    height: 300px;
    max-width: 100%;
    margin-top: 40px;  
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block; 
}
#toc {
    margin-bottom: 20px;
    display: block; 
    font-size: 35px;
    position: absolute;
    right: 18%;
}
#settings {
    margin-bottom: 20px;
    display: block; 
    font-size: 32px;
    position: absolute;
    right: 25%;
}
.thumbnail {
    border: 0;
    height: 100%;
    margin-top: 40px;
}
mat-card-content {
    margin: 20%;
}
mat-card-actions {
    position: absolute;
    left: 40%;
    margin-right: -50%;
}